* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --bg-color: #1f1f21;
    --background-color-pink: #9333ea;
    --bg-color-blue: #A6D5FE;
    --text-color: #fff;
    --main-color: #0e46d588;
    --secondary-color: #0000007b;

    --big-font: 7rem;
    --p-font: 1.1rem;
}

body {
    /* Location of the image */
    background-image: url(../assets/background.jpg);
    /* Image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color: #464646;
}



header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    background: transparent;
    transition: all ease .45s;
}

.logo {
    /*color: var(--text-color);*/
    color: var(--text-color);
    font-size: 41px;
    font-weight: 600;
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  Adds a darker shadow effect */
    /*text-shadow: 
    -1px -1px 0 #0000007b,  /* top-left shadow */
    /*1px -1px 0 #0000007b,   /* top-right shadow */
    /*-1px 1px 0 #0000007b,   /* bottom-left shadow */
    /*1px 1px 0 #0000007b;    /* bottom-right shadow */
}

.logo span {
    color: var(--main-color);
    /*color: var(--secondary-color);*/
    
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--bg-color);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover {
    /*color: var(--main-color);*/
    color: var(--secondary-color);
}

.navbar a.active {
    color: var(--main-color);
}

.home-link {
    background-color: #4068cf36; /* Background color */
    padding: 10px 15px; /* Padding inside the box */
    display: inline-block; /* Makes the box fit the text size */
    border-radius: 5px; /* Optional: Adds rounded corners */
}
.contact-link {
    background-color: rgba(0, 0, 0, 0.3); /* Background color */
    padding: 10px 15px; /* Padding inside the box */
    display: inline-block; /* Makes the box fit the text size */
    border-radius: 5px; /* Optional: Adds rounded corners */
}

.home {

    width: 40%;  /* Halve the width from 80% to 40% for the gray box */
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 15%;
    margin-right: 30%;

    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.home-img img {
    width: 100%;
    height: 100%;
}

.home-text h1 {
    font-size: var(--big-font);
    margin: 23px 0;
    background-color: #111;
    padding: 15px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30;
    background-color: #111;

}

.transparent {
    background: rgba(0, 0, 0, 0.6) !important;
    /*background: #0e46d588;*/
    padding: 15px;
    color: #fff;
    border-radius: 5px; /* Adds rounded corners */
}

/* Specific styling for LinkedIn icon */
.social-icons a.linkedin i{
    font-size: 36px;
    color: var(--main-color);
}